body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf);
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  background: #eeeff1;
  height: 700px;
  padding: 0 20px;
}

.header .container {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.header:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__body {
  display: flex;
  justify-content: space-around;
}

.header__logo {
  z-index: 3;
  margin-top: 24px;
}

.header__burger {
  margin-top: 32px;
}

.header__list {
  display: flex;
  z-index: 3;
  margin-top: 24px;
}

.header__list li {
  list-style: none;
  margin: 0 0 0 20px;
}

.header__link {
  color: #000;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

.header__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 120px;
}

.header__laptop {
  display: block;
  max-width: 100%;
  height: auto;
}

.header__title {
  font-size: 48px;
  margin-top: 18px;
}

.header__subtitle {
  color: #808080;
  margin-top: 26px;
}

.header .btn {
  margin-top: 26px;
}

.header__button {
  color: #fff;
  background: #34547a;
  padding: 12px 26px 12px 24px;
  transition: all 0.6s ease 0s;
}

.header__button:hover {
  color: #34547a;
  background: #eeeff1;
}

.hero__start {
  padding: 0 20px;
}

.hero__title {
  font-size: 32px;
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.hero__subtitle {
  color: #808080;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.hero__line {
  background: #34547a;
  max-width: 100%;
  height: 250px;
  margin-top: 48px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hero__projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hero__skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 48px;
  padding: 0 20px;
}

.hero .hero__title-skills {
  font-size: 32px;
}

.hero__title-a.p {
  color: #808080;
  font-size: 20px;
  margin-top: 20px;
}

.hero__line-skills {
  height: 2px;
  background: #34547a;
}

.hero__right-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 4px;
}

.hero__work {
  background: #eeeff1;
  max-width: 100%;
  height: 1000px;
  padding: 0 20px;
}

.hero__title-work {
  display: flex;
  justify-content: center;
  font-size: 32px;
  margin-top: 32px;
  padding: 24px 0;
}

.hero__subtitle-work {
  display: flex;
  justify-content: center;
  color: #808080;
  margin-top: 48px;
}

.hero .video-work {
  display: flex;
  justify-content: center;
}

.hero__video {
  display: block;
  max-width: 70%;
  height: auto;
  margin-top: 32px;
}

.hero .photos.work {
  background: #eeeff1;
}

.hero .photos-work {
  display: flex;
  justify-content: center;
}

.hero__photos-work {
  display: block;
  max-width: 100%;
  height: auto;
}

.hero .microsoft {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.hero__microsoft {
  display: flex;
  flex-wrap: wrap;
}

.hero__microsoft-logo {
  margin-left: 20px;
}

.hero__the.end {
  background: #eeeff1;
  height: 560px;
  max-width: 100%;
  padding: 0 20px;
}

.hero__title-end {
  display: flex;
  justify-content: center;
  font-size: 32px;
  margin-top: 32px;
  padding: 24px 0;
}

.hero__subtitle-end {
  display: flex;
  justify-content: center;
  color: #808080;
  margin-top: 32px;
}

.hero__2inputs-end {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.hero__input1 {
  color: #808080;
  max-width: 28%;
  height: 26px;
  padding-left: 4px;
}

.hero__input2 {
  color: #808080;
  max-width: 28%;
  margin-left: 20px;
  padding-left: 4px;
}

.hero__1input-end {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.hero__input3 {
  color: #808080;
  padding: 16px 130px 140px 16px;
}

.hero .btn-end {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.hero__btn-end {
  color: #fff;
  background: #34547a;
  padding: 10px 20px 10px 20px;
  transition: all 0.6s ease 0s;
}

.hero__btn-end:hover {
  color: #34547a;
  background: #eeeff1;
}

.footer {
  background: #34547a;
  height: 200px;
}

.footer__content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer__left {
  margin-top: 50px;
}

.footer__name {
  color: #fff;
  font-size: 21px;
}

.footer__rights {
  color: #fff;
  font-size: 14px;
}

.footer__right {
  margin-top: 50px;
}

.footer__img-vk {
  margin-left: 20px;
}
